.againButton {
  background-color: red;
  color: white;
  font-size: 40px;
  padding: 10px;
}

.againButton:hover {
  background-color: salmon;
}
.nextButton {
  background-color: green;
  color: white;
  font-size: 40px;
  padding: 10px;
}

.nextButton:hover {
  background-color: lightgreen;
}
